header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.header_search_field {
  display: flex;
  justify-content: space-evenly;
}
body {
  background-color: antiquewhite;
  margin: 0;
}

.content_section {
  margin: 15px;
  border: 1px solid rgb(112, 108, 108);
  padding-left: 10px;
  background-color: rgb(230, 218, 202);
  justify-content: flex-start;
}

.content_body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.comment_ID_style {
  margin-right: 10px;
}

.comment_box {
  margin: 15px;
  justify-content: flex-start;
}

.comment_box_small {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(112, 108, 108);

  background-color: rgb(232, 228, 223);
}

.comment_name_style {
  font-weight: bold;
}

.comment_email_style {
  font-style: italic;
  margin-bottom: 5px;
}

.comment_container_1 {
  display: flex;
  flex-direction: row;
}
